doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(rel='icon' type='image/x-icon' href='favicon.ico')

        title some title

        link(rel='stylesheet' media="screen and (min-device-width: 481px)" href='./styles/styles.css')
        link(rel='stylesheet' media="screen and (max-device-width: 480px)" href='./styles/mob-styles.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap\" rel=\"stylesheet" rel="stylesheet")

    body
        include modules/data.pug
        include modules/mixins.pug
        include modules/header.pug


        .main
            .stage
                .stage-text
                    h1 Крупнейший производитель изделий из пластмасс
                    hr
                    p Работаем с 1992 года
            .storey
                h2 Каталог
                .catalog-cards
                    each elem in cardList
                        +catalogCard(elem)
            .storey
                h2 Новинки
                .storey-cards
                    each elem in storeyCard
                        +novelty(elem)
            .stretching
                .stretching-text Производство пластмассовых изделий: пластиковые емкости, баки, контейнеры, септики.
            .storey
                h2 Популярные товары
                .storey-cards
                    each elem in storeyCard
                        +novelty(elem)
            .news
                h2 Новости
                .news-cards
                    each elem in newsCards
                        +news(elem)
                button.news-button Все новости

        include modules/footer.pug









    script.
        let cardButtons = document.querySelectorAll('.novelty-card-body-buttons-counter');
        cardButtons.forEach(function (element) {
            let x = element.querySelectorAll('div');
            x[0].addEventListener('click', function () {
                if (x[1].innerText > 1) {
                    x[1].innerText--
                }
            });
            x[2].addEventListener('click', function () {
                x[1].innerText++
            });
        });
        (function () {
            let lengthSize = 254;
            let character = ' ...';
            let newsStrings = document.querySelectorAll('.news-card-body-text');
            newsStrings.forEach(function (element) {
                string = element.innerText;
                if (string.length > lengthSize) {
                    element.innerText = string.slice(0, lengthSize) + character
                }
            })
        }());


