doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(rel='icon' type='image/x-icon' href='favicon.ico')

        title some title

        link(rel='stylesheet' href='./styles/header.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap\" rel=\"stylesheet" rel="stylesheet")

    body
        include modules/mixins.pug
        include modules/header.pug

        .main
            .stage
                .stage-text
                    h1 Крупнейший производитель изделий из пластмасс
                    hr
                    p Работаем с 1992 года
            .catalog
                h2 Каталог
                .catalog-cards
                    +catalogCard ('Изделия ротационного формирования', 'https://www.google.ru/', 'card1', 'текст 1', 'текст 2', 'текст 3', 'текст 4', 'card1', 'текст 1', 'текст 2', 'текст 3', 'текст 4', 'card1', 'текст 1', 'текст 2', 'текст 3', 'текст 4')
                    +catalogCard ('Изделия ротационного формирования', 'https://www.google.ru/', 'card1', 'текст 1', 'достаточно длинный текст чтобы занимать больше чем одну строку', 'текст 2', 'текст 3', 'текст 4', 'текст 2', 'текст 3', 'текст 4', 'текст 2', 'текст 3', 'текст 4')
                    +catalogCard ('Полименрные материалы: капролон, полиамид 6, полиамид 66, полиацеталь, полиэтилен, полипропилен, ПВХ, РЕЕК, PPSU', 'https://www.google.ru/', 'card2', 'текст 1', 'текст 2')
                    +catalogCard ('Комплектующие для баков', 'https://www.google.ru/', 'card3', '')
                    +catalogCard ('Комплектующие для баков', '', 'card4')
                    +catalogCard ('Комплектующие для баков', '', 'card4')






