-
    let cardList = [
    ['Изделия ротационного формирования', 'https://www.google.ru/',
       'card1', 'текст 1', 'текст 2', 'текст 3', 'текст 4', 'card1',
       'текст 1', 'текст 2', 'текст 3', 'текст 4', 'card1', 'текст 1',
       'текст 2', 'текст 3', 'текст 4'],
    ['Изделия ротационного формирования', 'https://www.google.ru/', 'card1', 'текст 1', 'достаточно длинный текст чтобы занимать больше чем одну строку', 'текст 2', 'текст 3', 'текст 4', 'текст 2', 'текст 3', 'текст 4', 'текст 2', 'текст 3', 'текст 4'],
    ['Полименрные материалы: капролон, полиамид 6, полиамид 66, полиацеталь, полиэтилен, полипропилен, ПВХ, РЕЕК, PPSU', 'https://www.google.ru/', 'card2', 'текст 1', 'текст 2'],
    ['Комплектующие для баков', 'https://www.google.ru/', 'card3', ''],
    ['Комплектующие для баков', '', 'card4'],
    ['Комплектующие для баков', '', 'card4'],
    ];

    let headerOther = ['о компании', 'услуги', 'дилерам', 'контакты', 'доставка и оплата'];

    let headerImages = ['user', 'basket', 'graph', 'like']
