-
    let cardList = [
        ['Изделия ротационного формирования', 'https://www.google.ru/',
            'card1', 'текст 1', 'текст 2', 'текст 3', 'текст 4', 'card1',
            'текст 1', 'текст 2', 'текст 3', 'текст 4', 'card1', 'текст 1',
            'текст 2', 'текст 3', 'текст 4'],
        ['Изделия ротационного формирования', 'https://www.google.ru/', 'card1', 'текст 1', 'достаточно длинный текст чтобы занимать больше чем одну строку', 'текст 2', 'текст 3', 'текст 4', 'текст 2', 'текст 3', 'текст 4', 'текст 2', 'текст 3', 'текст 4'],
        ['Полименрные материалы: капролон, полиамид 6, полиамид 66, полиацеталь, полиэтилен, полипропилен, ПВХ, РЕЕК, PPSU', 'https://www.google.ru/', 'card2', 'текст 1', 'текст 2'],
        ['Комплектующие для баков', 'https://www.google.ru/', 'card3', ''],
        ['Комплектующие для баков', '', 'card4'],
        ['Комплектующие для баков', '', 'card4'],
    ];

    let headerOther = ['о компании', 'услуги', 'дилерам', 'контакты', 'доставка и оплата'];

    let headerImages = ['user', 'basket', 'graph', 'like'];

    let storeyCard = [
        {
            id : 'ДК60КЗ',
            stars: 3,
            text: 'Бак 210 л для протравителя \n'+
            'семян',
            imgName: 'novelty1',
        },
        {
            id : 'ДК60КЗ',
            stars: 4,
            text: 'Емкость 500 л вертикальная с усиленной стенкой',
            imgName: 'novelty2',
        },
        {
            id : 'ДК60КЗ',
            stars: 0,
            text: 'Наземные вертикальные пластиковые ёмкости и баки для воды',
            imgName: 'novelty3',
        },
        {
            id : 'ДК60КЗ',
            stars: 2,
            text: 'Еврокуб 1000 л составной с дыхательным клапаном, без ...',
            imgName: 'novelty4',
        },
    ];

    let newsCards = [
        {
            img: 'news1',
            title: 'Режим работы в период повышенной готовности ',
            text: 'ООО «АНИОН» продолжает свою деятельность в период повышенной готовности в соответствии с Указам Президента Российской Федерации от 02.04.2020 г. № 239 "О мерах по обеспечению санитарно-эпидемиологического благополучия населения на территории РФ в связи с 123',
        },
        {
            img: 'news2',
            title: 'График работы ООО «Анион» в новогодние праздники 2021',
            text: 'Коллектив компании "АНИОН" поздравляет Вас с Новым Годом и Рождеством!\n'+
            'Пусть осуществится все задуманное и запланированное! Пусть год будет плодотворным и продуктивным. Желаем Вам интересных, успешных новых проектов, надежных партнеров, понимания ...',
        },

    ]

    let footerMenu = ['о компании', 'как купить', 'продукция', 'дилерам', 'услуги', 'контакты', 'доставка и оплата',];

    let footerIcons = ['vk', 'fb', 'yt', 'ig', 'tw',];

